.verification-page-flex-container{
    display: flex;
    justify-content: space-around;
    height:100%;
    margin-top: 100px;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
  }
 
  .verification-page-flex-container > div {
    width: 400px;
  }

  .pincode-input-container{
    display: flex;
    justify-content: space-between;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .pincode-input-container > input {
    width: 43px;
    height: 40px;
    text-align: center;
    font-size: 18px;
  }

    .pincode-input-text{
      margin-right: 10.5px !important
    }

    