.edit-tudo {
  display: flex;

  &-body {
    width: 100%;
  }

  &-body-content {
    padding: 40px 40px 100px;
    
    @media screen and (max-width: 600px) {
      padding: 20px 20px 100px;
    }
  }
}

.page-header-title {
  border-bottom: 1px solid rgba(0,0,0,.09);
  padding-bottom: 5px;
  margin-bottom: 16px;
  color: var(--gray);
}

.page-header-summary {
  font-size: 14px;
  color: var(--gray-light);
  margin-bottom: 50px;
}

.edit-goal {
  padding-bottom: 40px;
}

.danger-zone {
  margin-top: 50px;
}

.form-submit {
  margin-top: 50px;
}

.form-label {
  font-size: 14px;
  color: var(--gray);
  font-weight: bold;
}

.spinner {
    margin: 100px 0;
    text-align: center;
}

/* delete confirmation modal */
.delete-confirmation {

  .modal-content {
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 10px;
    color: #444;

    .modal-header {
      padding: 20px;
    }

    .modal-title {
      font-size: 20px;
    }

    .modal-body {
      padding: 20px;
      font-weight: 300;
    }

    .delete-cta {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;

      .btn {
        width: 48%;

        &:hover {
          color: #fff;
        }
      }

      .accept {
        background: var(--red);
      }

      .reject {
        background: var(--gray-light);
      }
    }
  }
}