@import '../partials/colors';
@import '../partials/font-size';

.landing {
  width: 100%;
  margin: 0 auto;

  .modal-content {
    margin: 0;
  }

  &-modal-close {
    position: relative;
    text-align: right;

    button {
      position: absolute;
      right: 0;
      top: -27px;
      color: #ffffff;
      background-color: rgba(255,255,255, 0);
      border: none;
    }
  }

  h1 {
    color: $base-color;
    font-size: $landing-h1-size;
    font-weight: 700;
  }

  h2 {
    color: $base-color;
    font-size: $landing-h2-size;
    font-weight: 700;
  }

  h2 :after {
    content: "";
    display: block;
    width: 5%;
    padding-top: 8px;
    border-bottom: 2px solid #0C66FF;
  }

  h3 {
    color: $landing-p-color;
    font-weight: 700;
  }

  p {
    margin: 30px auto 20px;
    color: $landing-p-color;
    font-size: $landing-p-size;
  }

  &-sect-1 {
    position: relative;
    width: 100%;
    margin: 0 auto 30px;
    padding: 10px 0 100px;
    background-color: #ffffff;
    overflow: hidden;

    &-container {
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
    }

    &-right {
      position: relative;
    }

    &-background {
      position: relative;
      max-width: 570px;
      width: 100%;
      height: 527px;
      margin: 0 0 0 auto;
      padding: 0;
      background-color: $base-color;
    }

    &-background-1 {
      position: relative;
      width: 100%;
      height: 527px;
      margin: 0 auto;
      padding: 0;
      background-color: $base-color;
    }

    &-background-image1 {
      position: absolute;
      width: 150px;
    }

    &-background-image2 {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 150px;
    }

    &-background-image1 img, &-background-image2 img {
      width: 100%;
    }

    &-right-image {
      position: absolute;
      top: 40px;
      right: -50px;
      text-align: center;
      max-width: 830px;
      width: 100%;
    }

    &-right-image img {
      width: 100%;
    }

    &-image {
      position: absolute;
      bottom: 0;
      left: -95px;
      width: 190px;
    }

    &-image img {
      width: 100%;
    }

    // sect-1 bottom div
    &-bottom {
    padding: 170px 0 0;
    }

    &-bottom-header {
      width: 450px;
      padding: 0;
      color: #0B0547;
      text-align: left;
    }

    &-bottom-header p {
      max-width: 750px;
      width: 100%;
      margin: 15px auto 25px;
    }

    &-bottom-download-icon {
      margin: 0 20px 0 0;
    }

    &-bottom-download-icon img {
      width: 100%;
    }

    &-bottom-download {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 335px;
      width: 100%;
      margin: 0;
    }
  }

  &-sect-2 span:after, &-sect-3 span:after, &-sect-4 span:after, &-sect-5 span:after, &-sect-6 span:after {
    content: "";
    display: block;
    width: 50px;
    padding-top: 8px;
    border-bottom: 3px solid $secondary-color;
  }

  &-sect-2 {
    position: relative;
    width: 100%;
    height: 540px;
    margin: 0 auto;

    &-container {
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 10px 0 0;
    }

    &-container-image {
      position: absolute;
      right: 0;
      bottom: -60px;
      width: 150px;
    }

    &-container-image img {
      width: 100%;
    }

    &-container-holder {
      position: relative;
    }

    &-container-holder-box {
      position: absolute;
      top: 70px;
      left: 0;
      width: 135px;
      height: 135px;
      background-color: $base-color;
      box-shadow: -5px 10px 20px 0 rgba(165, 186, 255, 0.5);
    }

    &-container-holder-header {
      padding: 0 0 0 30px;
    }

    &-container-content {
      padding: 190px 45px 0;
    }

    &-container-holder-image {
      position: absolute;
      max-width: 600px;
      width: 100%;
      margin-bottom: 20px;
      padding: 55px 0 0 30px;
    }

    &-container-holder-image img {
      width: 100%;
    }
  }

  &-sect-3 {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 0;
    background-color: $rgb-blue;

    &-container {
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 80px 0 0;
    }

    &-container-left {
      padding: 130px 0 0;
    } 

    &-container-holder {
      position: relative;
    }

    &-container-holder-box {
      position: absolute;
      top: 0px;
      right: 63px;
      width: 135px;
      height: 135px;
      background-color: $secondary-color;
    }

    &-container-holder-image {
      position: absolute;
      max-width: 600px;
      width: 100%;
      padding: 30px 30px 0 0;
    }

    &-container-holder-image img {
      width: 100%;
    }
  }

  &-sect-4 {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;

    &-container {
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 100px 0 0;
    }

    &-container-image {
      position: absolute;
      left: 0;
      bottom: -213px;
      max-width: 347px;
      width: 100%;
    }

    &-container-image img {
      width: 100%;
    }

    &-container-content {
      max-width: 420px;
      width: 100%;
      padding: 130px 0 0;
    }

    &-container-holder {
      position: relative;
    }

    &-container-holder-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 135px;
      height: 135px;
      background-color: $base-color;
      box-shadow: -5px 10px 20px 0 rgba(165, 186, 255, 0.5);
    }

    &-container-holder-image {
      position: absolute;
      margin-bottom: 0;
      padding: 30px;
    }

    &-container-holder-image img {
      width: 100%;
    }
  }

  &-sect-5 {
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
    padding: 0;
    background-color: $rgb-blue;

    &-container {
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 100px 0 0;
    }

    &-container-left {
      padding: 130px 0 0;
    }

    &-container-holder {
      position: relative;
    }

    &-container-holder-box {
      position: absolute;
      top: 0;
      right: 55px;
      width: 135px;
      height: 135px;
      background-color: $secondary-color;
    }

    &-container-holder-image {
      position: absolute;
      max-width: 600px;
      width: 100%;
      padding: 30px;
    }

    &-container-holder-image img {
      width: 100%;
    }
  }

  &-sect-6 {
    max-width: 1300px;
    width: 100%;
    height: 650px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;

    &-container {
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 100px 0 0;
    }

    &-container-content {
      padding: 130px 0;
    }

    &-container-holder {
      position: relative;
    }

    &-container-holder-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 135px;
      height: 135px;
      background-color: $base-color;
      box-shadow: -5px 10px 20px 0 rgba(165, 186, 255, 0.5);
    }

    &-container-holder-image {
      position: absolute;
      padding: 30px;
    }

    &-container-holder-image img {
      width: 100%;
    }
  }

  &-sect-7 {
    max-width: 1300px;
    width: 100%;
    min-height: 700px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;

    &-container {
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }

    &-container-content {
      position: relative;
      width: 100%;
      height: 560px;
      padding: 0 0 0 80px;
    }

    &-container-content-box1 {
      position: absolute;
      top: 50px;
      right: 125px;
      width: 140px;
      height: 140px;
      padding: 40px 30px 30px;
      background-color: $base-color;
      box-shadow: 5px 15px 20px 0 rgba(117, 148, 251, 0.55);
      color: #ffffff;
    }

    &-container-content-box2 {
      position: absolute;
      top: 190px;
      right: 90px;
      width: 75px;
      height: 90px;
      border-left: 1px dashed $base-color;
      border-bottom: 1px dashed $base-color;
    }

    &-container-content-box3 {
      position: absolute;
      top: 215px;
      right: -50px;
      width: 140px;
      height: 140px;
      padding: 40px 30px 30px;
      background-color: $secondary-color;
      box-shadow: 5px 15px 20px 0 rgba(134, 111, 255, 0.34);
      color: #ffffff;
      z-index: 1;
    }

    &-container-content-box4 {
      position: absolute;
      top: 355px;
      right: 0;
      width: 75px;
      height: 90px;
      border-right: 1px dashed $base-color;
      border-bottom: 1px dashed $base-color;
    }

    &-container-content-box5 {
      position: absolute;
      top: 380px;
      right: 75px;
      width: 140px;
      height: 140px;
      padding: 40px 35px 30px 30px;
      border: 1px solid $base-color;
      box-shadow: 5px 15px 20px 0 rgba(0, 0, 0, 0.1);
      color: $base-color;
    }

    &-container-holder {
      position: relative;
    }

    &-container-holder-image1 {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 500px;
    }

    &-container-holder-image1 img {
      width: 100%;
    }

    &-container-holder-image2 {
      position: absolute;
      top: -80px;
      right: 130px;
      max-width: 275px;
    }

    &-container-holder-image2 img {
      width: 100%;
    }
  }

  .policy-container {
    padding: 0 40px;
    line-height: 1.9;
    text-align: justify;
  }
}

@media only screen and (max-width: 1024px) {
  .landing {
    &-sect-1 {
      padding: 0 20px;
    }

    &-sect-1-bottom {
      padding: 75px 0 0;
    }

    &-sect-1-bottom-header {
      width: 100%;
      text-align: center;
    }

    &-sect-1-bottom-download {
      justify-content: space-between;
      max-width: 200px;
      margin: 0 auto;
      text-align: center;
    }

    &-sect-1-bottom-download-icon {
      margin: 0 5px;
    }

    &-sect-1-right {
      margin: 20px 0 0;
    }

    &-sect-1-background {
      width: 85%;
      height: 510px;
    }

    &-sect-2 {
      height: 450px;
      padding: 0 20px;
      text-align: center;
    }

    &-sect-2-container-content {
      width: 100%;
      height: 190px;
      padding: 0;
      text-align: left;
    }

    &-sect-2-container-holder-header {
      padding: 0;
    }

    &-sect-2-container-holder-box {
      top: 0;
      margin: 35px 0 0;
    }

    &-sect-2-container-holder-image {
      padding: 65px 0 0 30px;
    }

    &-sect-2-container-holder-group {
      position: absolute;
      top: 10px;
      width: 100%;
    }

    &-sect-3 {
      height: 470px;
    }

    &-sect-3-container {
      padding: 20px 20px 0;
    }

    &-sect-3-container-left {
      padding: 30px 0 0;
    }

    &-sect-3-container-holder {
      padding: 40px 0 0;
    }

    &-sect-3-container-holder-box {
      right: 0;
      margin: 40px 0 0;
    }

    &-sect-4 {
      padding: 0 20px;
      height: 440px;
    }

    &-sect-4-container {
      padding: 40px 0 0;
    }

    &-sect-4-container-content {
      padding: 0;
    }

    &-sect-4-container-holder-group {
      position: absolute;
      top: 20px;
      width: 100%;
    }

    &-sect-5 {
      padding: 0 20px;
      min-height: 455px;
    }

    &-sect-5-container {
      padding: 30px 0 0;
    }

    &-sect-5-container-left {
      padding: 0;
    }

    &-sect-5-container-holder {
      width: 100%;
      margin: 30px 0 0;
    }

    &-sect-6 {
      width: 100%;
      height: 340px;
      padding: 0 20px;
    }

    &-sect-6-container-holder-group {
      position: absolute;
      top: 10px;
      width: 100%;
    }

    &-sect-6-container {
      padding: 30px 0 0;
    }

    &-sect-6-container-content {
      padding: 0;
    }

    &-sect-7 {
      min-height: 550px;
    }

    &-sect-7-container-content {
      width: 350px;
      margin: 15px auto 0;
      padding: 0;
    }

    &-sect-7-container-content-box1 {
      right: 50%;
    }
    &-sect-7-container-content-box2 {
      right: 50%;
    }
    &-sect-7-container-content-box3 {
      right: 16%;
    }
    &-sect-7-container-content-box4 {
      right: 32%;
    }
    &-sect-7-container-content-box5 {
      right: 50%;
      background-color: #ffffff;
    }

    &-sect-7-container-holder {
      max-width: 500px;
      width: 100%;
      height: 484px;
      margin: 80px auto 0;
    }

    &-sect-7-container-holder-image1 {
      padding: 0 20px;
    }

    &-sect-7-container-holder-image2 {
      right: 100px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .landing {
    &-sect-1 {
      padding: 0 20px;
    }

    &-sect-1-bottom {
      padding: 75px 0 0;
    }

    &-sect-1-bottom-header {
      width: 100%;
      text-align: center;
    }

    &-sect-1-bottom-download {
      justify-content: space-between;
      max-width: 200px;
      margin: 0 auto;
      text-align: center;
    }

    &-sect-1-bottom-download-icon {
      margin: 0 5px;
    }

    &-sect-1-right {
      margin: 20px 0 0;
    }

    &-sect-1-right-image {
      right: 0;
    }

    &-sect-1-background {
      width: 85%;
      height: 510px;
      margin: 0 auto;
    }

    &-sect-2 {
      height: 660px;
      padding: 0 20px;
      text-align: center;
    }

    &-sect-2-container-content {
      width: 100%;
      height: 190px;
      padding: 0;
      text-align: left;
    }

    &-sect-2-container-holder-header {
      padding: 0;
    }

    &-sect-2-container-holder-box {
      top: 0;
      margin: 35px 0 0;
    }

    &-sect-2-container-holder-image {
      padding: 65px 0 0 30px;
    }

    &-sect-2-container-holder-group {
      position: absolute;
      top: 210px;
      width: 100%;
    }

    &-sect-3 {
      height: 660px;
    }

    &-sect-3-container {
      padding: 20px 20px 0;
    }

    &-sect-3-container-left {
      padding: 30px 0 0;
    }

    &-sect-3-container-holder {
      padding: 40px 0 0;
    }

    &-sect-3-container-holder-box {
      right: 0;
      margin: 40px 0 0;
    }

    &-sect-4 {
      padding: 0 20px;
      height: 680px;
    }

    &-sect-4-container {
      padding: 40px 0 0;
    }

    &-sect-4-container-content {
      padding: 0;
    }

    &-sect-4-container-holder-group {
      position: absolute;
      top: 210px;
      width: 100%;
    }

    &-sect-5 {
      padding: 0 20px;
      min-height: 595px;
    }

    &-sect-5-container {
      padding: 30px 0 0;
    }

    &-sect-5-container-left {
      padding: 0;
    }

    &-sect-5-container-holder {
      width: 100%;
      margin: 30px 0 0;
    }

    &-sect-6 {
      width: 100%;
      height: 640px;
      padding: 0 20px;
    }

    &-sect-6-container-holder-group {
      position: absolute;
      top: 210px;
      width: 100%;
    }

    &-sect-6-container {
      padding: 30px 0 0;
    }

    &-sect-6-container-content {
      padding: 0;
    }

    &-sect-7 {
      min-height: 1050px;
    }

    &-sect-7-container-content {
      width: 350px;
      margin: 15px auto 0;
      padding: 0;
    }

    &-sect-7-container-content-box1 {
      right: 50%;
    }
    &-sect-7-container-content-box2 {
      right: 50%;
    }
    &-sect-7-container-content-box3 {
      right: 16%;
    }
    &-sect-7-container-content-box4 {
      right: 32%;
    }
    &-sect-7-container-content-box5 {
      right: 50%;
      background-color: #ffffff;
    }

    &-sect-7-container-holder {
      max-width: 500px;
      width: 100%;
      height: 484px;
      margin: 80px auto 0;
    }

    &-sect-7-container-holder-image1 {
      padding: 0 20px;
    }

    &-sect-7-container-holder-image2 {
      right: 100px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .landing {
    &-sect-1-right-image {
      top: 45px;
    }

    &-sect-1-background {
      width: 85%;
      height: 380px;
    }

    &-sect-2 {
      height: 605px;
      padding: 0 20px;
      text-align: center;
    }

    &-sect-3 {
      height: 625px;
    }

    &-sect-4 {
      padding: 0 20px;
      height: 615px;
    }

    &-sect-4-container-holder-group {
      position: absolute;
      top: 260px;
      width: 100%;
    }

    &-sect-5 {
      padding: 0 20px;
      min-height: 565px;
    }

    &-sect-6 {
      width: 100%;
      height: 570px;
      padding: 0 20px;
    }

    &-sect-6-container-holder-group {
      position: absolute;
      top: 260px;
      width: 100%;
    }

    &-sect-7 {
      min-height: 1010px;
    }
  }
}

@media only screen and (max-width: 424px) {
  .landing {
    &-sect-1-right-image {
      top: 45px;
    }

    &-sect-1-background {
      width: 85%;
      height: 295px;
    }
  }
}

@media only screen and (max-width: 414px) {
  .landing {
    &-sect-1-right-image {
      top: 30px;
    }

    &-sect-1-background {
      width: 85%;
      height: 270px;
    }

    &-sect-2 {
      height: 540px;
      padding: 0 20px;
      text-align: center;
    }

    &-sect-2-container-content {
      width: 100%;
      height: 190px;
      padding: 0;
      text-align: left;
    }

    &-sect-2-container-holder-header {
      padding: 0;
    }

    &-sect-2-container-holder-box {
      top: 0;
      margin: 35px 0 0;
    }

    &-sect-2-container-holder-image {
      padding: 65px 0 0 30px;
    }

    &-sect-2-container-holder-group {
      position: absolute;
      top: 250px;
      width: 100%;
    }

    &-sect-3 {
      height: 540px;
    }

    &-sect-3-container {
      padding: 20px 20px 0;
    }

    &-sect-3-container-left {
      padding: 30px 0 0;
    }

    &-sect-3-container-holder {
      padding: 40px 0 0;
    }

    &-sect-3-container-holder-box {
      right: 0;
      margin: 40px 0 0;
    }

    &-sect-4 {
      padding: 0 20px;
      height: 570px;
    }

    &-sect-4-container {
      padding: 40px 0 0;
    }

    &-sect-4-container-content {
      padding: 0;
    }

    &-sect-4-container-holder-group {
      position: absolute;
      top: 0;
      width: 100%;
      margin: 280px 0 0;
    }

    &-sect-5 {
      padding: 0 20px;
      min-height: 480px;
    }

    &-sect-5-container {
      padding: 30px 0 0;
    }

    &-sect-5-container-left {
      padding: 0;
    }

    &-sect-5-container-holder {
      width: 100%;
      margin: 30px 0 0;
    }

    &-sect-5-container-holder-box {
      right: 0;
    }

    &-sect-6 {
      width: 100%;
      height: 570px;
      padding: 0 20px;
    }

    &-sect-6-container-holder-group {
      position: absolute;
      top: 0;
      width: 100%;
      margin: 315px 0 0;
    }

    &-sect-6-container {
      padding: 30px 0 0;
    }

    &-sect-6-container-content {
      padding: 0;
    }

    &-sect-7 {
      min-height: 880px;
    }

    &-sect-7-container-content {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    &-sect-7-container-content-box1 {
      right: 50%;
    }
    &-sect-7-container-content-box2 {
      right: 50%;
    }
    &-sect-7-container-content-box3 {
      right: 16%;
    }
    &-sect-7-container-content-box4 {
      right: 32%;
    }
    &-sect-7-container-content-box5 {
      right: 50%;
      background-color: #ffffff;
    }

    &-sect-7-container-holder-image1 {
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .landing {
    &-sect-1-background {
      width: 85%;
      height: 230px;
  }

    &-sect-2 {
      height: 515px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .landing {
    .modal-content {
      margin: 30px 0 0;
    }

    &-sect-1 {
      padding: 0 20px;
    }

    &-sect-1-bottom {
      padding: 75px 0 0;
    }

    &-sect-1-bottom-header {
      width: 100%;
      text-align: center;
    }

    &-sect-1-bottom-download {
      justify-content: space-between;
      max-width: 200px;
      margin: 0 auto;
      text-align: center;
    }

    &-sect-1-bottom-download-icon {
      margin: 0 5px;
    }

    &-sect-1-right {
      margin: 20px 0 0;
    }

    &-sect-1-right-image {
      top: 15px;
    }

    &-sect-1-background {
      width: 85%;
      height: 185px;
    }

    &-sect-2 {
      height: 485px;
      padding: 0 20px;
      text-align: center;
    }

    &-sect-2-container-content {
      width: 100%;
      height: 190px;
      padding: 0;
      text-align: left;
    }

    &-sect-2-container-holder-header {
      padding: 0;
    }

    &-sect-2-container-holder-box {
      top: 0;
      margin: 35px 0 0;
    }

    &-sect-2-container-holder-image {
      padding: 65px 0 0 30px;
    }

    &-sect-2-container-holder-group {
      position: absolute;
      top: 250px;
      width: 100%;
    }

    &-sect-3 {
      height: 540px;
    }

    &-sect-3-container {
      padding: 20px 20px 0;
    }

    &-sect-3-container-left {
      padding: 30px 0 0;
    }

    &-sect-3-container-holder {
      padding: 40px 0 0;
    }

    &-sect-3-container-holder-box {
      right: 0;
      margin: 40px 0 0;
    }

    &-sect-4 {
      padding: 0 20px;
      height: 500px;
    }

    &-sect-4-container {
      padding: 40px 0 0;
    }

    &-sect-4-container-content {
      padding: 0;
    }

    &-sect-4-container-holder-group {
      position: absolute;
      top: 0;
      width: 100%;
      margin: 280px 0 0;
    }

    &-sect-5 {
      padding: 0 20px;
      min-height: 450px;
    }

    &-sect-5-container {
      padding: 30px 0 0;
    }

    &-sect-5-container-left {
      padding: 0;
    }

    &-sect-5-container-holder {
      width: 100%;
      margin: 30px 0 0;
    }

    &-sect-5-container-holder-box {
      right: 0;
    }

    &-sect-6 {
      width: 100%;
      height: 510px;
      padding: 0 20px;
    }

    &-sect-6-container-holder-group {
      position: absolute;
      top: 0;
      width: 100%;
      margin: 315px 0 0;
    }

    &-sect-6-container {
      padding: 30px 0 0;
    }

    &-sect-6-container-content {
      padding: 0;
    }

    &-sect-7 {
      min-height: 800px;
    }

    &-sect-7-container-content {
      padding: 0;
      margin: 0;
    }

    &-sect-7-container-content-box1 {
      right: 50%;
    }
    &-sect-7-container-content-box2 {
      right: 50%;
    }
    &-sect-7-container-content-box3 {
      right: 16%;
    }
    &-sect-7-container-content-box4 {
      right: 32%;
    }
    &-sect-7-container-content-box5 {
      right: 50%;
      background-color: #ffffff;
    }

    &-sect-7-container-holder-image1 {
      padding: 0 20px;
    }

    .policy-container {
      padding: 0 20px;
    }
  }
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.sjdkseew{
  opacity: 0.5;
}