@import '../../partials/colors';
@import '../../partials/font-size';

.savings {
  display: flex;
  flex-direction: row;

  &-sidebar {
    width: 170px;
    height: 100%;
  }

  &-bottombar {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    margin: 0;
    background-color: #ffffff;
    z-index: 1;
    display: none;
  }

  &-body {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 750px;
      padding: 40px 40px 40px 70px;
      background-color: #ffffff;
    }

    &-content-image {
      position: absolute;
      top: 240px;
      right: 0;
    }

    &-content-overview {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    &-content-overview-card h3 {
      font-size: 18px;
      color: #717ba0;
    }

    &-content-overview-card {
      display: flex;
      flex-direction: row;
      width: 320px;
      height: 60px;
      margin: 0 0 35px;
      padding: 15px;
      background-color: #ffffff;
      border: 1px solid #E3E9FF;
      border-radius: 10px;
    }

    &-content-overview-card-left {
      width: 120px;
      padding: 4px 0;
    }

    &-content-overview-card-left p {
      margin: 0;
      font-size: small;
      color: $base-color;
    }

    &-content-overview-card-right h4 {
      margin: 0;
      width: 100%;
      color: #717BA0;
    }

    &-content-overview-card-right sup {
      font-size: small;
      font-weight: 300;
    }

    &-content-header {
      width: 100%;
      height: 160px;
      margin: 0 35px 0 0;
      padding: 40px 15px;
      background-color: $base-color;
      background-image: url(https://res.cloudinary.com/xerdetech/image/upload/v1574808099/Banners_5_huhaxs.png);
      background-repeat: no-repeat;
      background-size: 100% 160px;
      border-radius: 5px;
    }

    &-content-header h2 {
      margin: 0 0 30px;
      font-size: 25px;
      font-weight: 700;
      color: #ffffff;
    }

    &-content-header p {
      margin: 0;
      font-size: small;
      color: #ffffff;
    }

    &-content-tab {
      margin: 50px 0 0;
      .tab-content {
        min-height: 400px;
        padding: 20px 0;
      }

      .nav-tabs .nav-link, .nav-tabs .nav-link.active {
        padding: 10px 0;
        margin: 0 40px 0 0;
        font-size: 18px;
        color: #aeb2c4;
      }

      &-all.nav-link.active, &-all.nav-link:hover {
        color: $base-color !important;
        border-color: #ffffff #ffffff #ffffff !important;
        border-bottom: 5px solid $base-color !important;
      }
    }

    &-content-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 800px;
      margin: 40px 0 0;
    }

    &-content-list-header {
      margin: 0 0 25px;
      border-bottom: 1px solid #e0e0e0;
    }

    &-content-list-header h5 {
      margin-bottom: 10px;
      font-size: 18px;
      color: #717ba0;
    }

    &-content-list-card {
      width: 350px;
      height: 200px;
      margin: 0 0 40px;
      padding: 50px 0 0;
      background-color: rgba(119, 146, 251, 0.2);
      border-radius: 10px;
      box-shadow: 0 3px 12px 0 rgba(119, 146, 251, 0.2);
      text-align: center;
    }

    &-content-list-card h3 {
      display: block;
      margin: 0;
      font-size: 21px;
      color: $base-color;
    }

    &-content-list-card p {
      font-size: 15px;
      color: #9e9e9e;
      font-weight: 300;
    }

    &-content-list-card-icon {
      width: 60px;
      height: 60px;
      margin: 0 auto 20px;
      padding: 2px 0;
      background-color: rgba(119, 146, 251, 0.3);
      border-radius: 100%;
    }

    &-content-list-card-icon:hover {
      border: 1px solid $base-color;
    }

    &-content-list-card-icon a {
      display: block;
      height: 60px;
      margin: 0;
      padding: 2px 0;
      font-size: 30px;
      color: #ffffff;
    }

    &-content-list-card-icon a:hover {
      text-decoration: none;
      color: $base-color;
    }

    &-content-list-card-icon h1 {
      margin: 0;
      color: $base-color;
      font-weight: 200;
    }

    &-content-no-display {
      display: none;
    }

    &-content-pagination {
      display: flex;
      flex-direction: row;
    }
    
    &-content-pagination button {
      background-color: #ffffff;
      border: none;
      color: $base-color;
      outline: none;
    }

    &-content-pagination button:disabled {
      color: #AEB2C4;
    }

    &-content-pagination p {
      margin: 0;
      padding: 5px 10px;
      color: #717ba0;
      font-weight: 800;
    }

    &-content-isLoading-card {
      width: 350px;
      height: 200px;
      margin: 0 0 40px;
      border-radius: 10px;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    }
  }
}

@media only screen and (max-width: 414px) {
  .savings {
    &-sidebar {
      display: none;
    }

    &-bottombar {
      display: flex;
      flex-direction: row;
    }

    &-body-content {
      padding: 20px;
    }

    &-body-content-header {
      height: 90px;
      padding: 10px 15px;
      background-size: 100% 90px;
    }

    &-body-content-header h2 {
      margin: 0 0 20px;
    }

    &-body-content-list-card {
      width: 100%;
    }

    &-body-content-overview-card {
      width: 100%;
    }

    &-body-content-overview {
      margin: 0 0 30px;
    }
  }
}

@media only screen and (max-width: 380px) {
  .savings {
    &-body-content-tab .nav-tabs .nav-link, &-body-content-tab .nav-tabs .nav-link.active {
      margin: 0 9px 0 0;
    }

    &-body-content-list a {
      width: 100%;
    }

    &-body-content-pagination {
      width: 300px;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 320px) {
  .savings {
    &-body-content-pagination {
      width: 235px;
      margin: 0 auto;
    }
  }
}
