.footer-container-404 {
    width: 100%;
    padding: 80px;
    background-color: #7594fb;
    color: white;
}

.top-level-404{
    width: 80%;
    padding: 80px;
    margin: 0 auto;
    margin-bottom: 50px; 
}

.navbar-404 a .tudo-logo-h2{
   color: #7594fb !important;
}

.navbar-404 a:hover{
    color: #7594fb !important;
    text-decoration: none !important;
}

.top-level-404 h2{
color: #7594fb !important;
text-align: center;
}

.top-level-404 p{
color: #707070 !important;
text-align: center;
font-weight: 200;
}

.dsknmfleksnfjks{
    margin: 0 auto;
    display: block;
}

.dsefwe {
    background: #717BA009;
}

.btn-holder-sucess{
max-width: 335px;
margin: 0px auto;
margin-top: 10px;
width: 100%;
}

.djksnckjsncs:hover{
    text-decoration: none;
}

.bold-otouke, .jkdnsf {
    color: #717ba0;
}


.dfdiosfsxz {
    color: #7792fb;
    font-weight: 900;
    font-size: larger;
}

.linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 338px;
    position: relative;
    overflow: hidden;
}


.y-contri{
width: 100%;
margin: 0 auto;
font-size: 80%;
font-weight: 100;
max-width: 410px;
}

.amount-raised-card-sucess{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E9FF;
    border-radius: 10px;
    opacity: 1;
    width: 350px;
    margin: 0 auto;

    .progress{
        height: 10px !important
    }
}

.footer-404{
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-top: 100px ;
}

.footer-container-right-socials-404{
    margin-top: 120px;
}

@media screen and (max-width: 750px) {
    .footer-container-right-socials-404{
        margin-top: 20px;
        margin-left: 10px;
    }
  
    .kjnfcsjdlbnf{
        margin:  0 auto;
        width: auto !important;
    }
  }


  .kjnfcsjdlbnf{
      width: 40%;
      margin:  0 auto;
  }


  @media screen and (max-width: 750px) {
 
.btn-holder-sucess{
    max-width: 180px;
    margin: 0px auto;
    margin-top: 10px;
    width: 100%;
    }

    .amount-raised-card-sucess {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E3E9FF;
        border-radius: 10px;
        opacity: 1;
        width: 280px;
    }    
  }

  @media screen and (max-width: 500px) {
 
    .top-level-404{
        width: 100%;
        padding: 0px;
        margin: 0 auto;
        margin-bottom: 50px; 
    }

    .y-contri {
        font-weight: normal;
    }
    
      }

