@import '../../../../partials/colors';
@import '../../../../partials/font-size';

.form-one {
  margin: 20px 0;
  
  h1 {
    font-size: 29px;
    color: #9c9c9c;
    font-weight: 400;
  }
  
  .form-control {
    padding: 10px;
  }

  .btn-outline-secondary {
    background-color: #ffffff;
  }

  .btn-outline-secondary:hover {
    color: #fff;
    background-color: $base-color;
    border-color: $base-color;
  }

  .active {
    background-color: $base-color !important;
    color: #ffffff;
    border-color: $base-color !important;
  }

  &-row {
    margin: 0 0 100px;

    h4 {
      font-size: 16px;
      color: #AEB2C4;
    }

    &-name {
      width: 400px;
      padding: 0;
    }

    &-name .text-muted {
      display: none;
    }

    &-name.error input[type=text] {
      border-color:red;
    }

    &-name.error .text-muted {
      display: block;
      color: red !important;
    }
  
    &-name-label {
      padding: 0;
    }
  }
  

  &-frequency {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    margin: 100px 0;
    padding: 0 0 0 120px;
  }

  &-frequency-label {
    margin: 100px 0;
  }

  &-continue {
    margin: 10px 0;
    padding: 0;

    button {
      color: #fff;
      background-color: $base-color;
      border-color: $base-color;
    }

    button:disabled {
      background-color: $base-color;
      border-color: $base-color;
    }

    button:hover {
      background-color: $base-color;
      border-color: $base-color;
    }
  }
}

@media only screen and (max-width: 414px) {
  .form-one {

    &-row {
      margin: 0 0 50px;
    }

    &-row-name {
      width: 100%;
    }
  }
}