@import '../partials/colors';
@import '../partials/font-size';

$header-font-color: #0B0547;
$span-color: #FF8000;

.password-reset-request {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;

  &-right {
    max-width: 700px;
    width: 100%;

    &-header {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      text-align: left;
      font-size: 15px;
  
      h2 {
        font-size: 25px;
        color: $base-color;
        font-weight: 700;
      }

      h2 span:after {
        content: "";
        display: block;
        width: 40px;
        padding-top: 5px;
        border-bottom: 3px solid $secondary-color;
      }
  
      p {
        margin: 0;
        font-size: 13px;
        color: #707070;
      }
    }

    &-form {
      max-width: 500px;
      width: 100%;
      margin: 95px auto 0;
      padding: 0;
    }

    &-form .form-group {
      margin-bottom: 0;
    }

    &-form .form-control {
      height: 50px;
      padding: 10px;
      border-radius: 3px;
      border: solid 1px #c1c1c1;
    }

    &-form-submit {
      max-width: 500px;
      width: 100%;
      margin: 30px 0;
      text-align: right;
    }

    &-form button {
      width: 145px;
      padding: 8px 10px;
      background-color: $base-color;
      border: 1px solid $base-color;
      border-radius: 0;
      font-size: 12px;
      color: #ffffff;
      box-shadow: 0 5px 10px 0 rgba(165, 186, 255, 0.48);
    }

    &-form-error {
      height: 15px;
    }

    &-form-invalid {
      border: 1px solid red !important;
    }

    &-form-error small {
      margin-bottom: 5px;
    }

  }

  &-left {
    position: relative;
    max-width: 455px;
    width: 100%;
    height: 500px;
    margin: 65px 0 0;
    text-align: center;

    &-background {
      max-width: 455px;
      width: 100%;
      max-height: 420px;
      height: 100%;
      background-color: $secondary-color;
      -ms-transform: rotate(-20deg);
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
    }

    &-image {
      position: absolute;
      top: -15px;
      right: 40px;
      max-width: 370px;
      width: 100%;
      padding: 0;  
    }

    img {
      width: 100%;
    }
  }

  &-bottom {
    display: none;
    position: relative;
    max-width: 455px;
    width: 100%;
    height: auto;
    margin: 20px auto 0;
    text-align: center;

    &-background {
      max-width: 455px;
      width: 100%;
      max-height: 420px;
      height: 100%;
      background-color: $secondary-color;
      -ms-transform: rotate(-20deg);
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
    }

    &-image {
      position: absolute;
      top: -15px;
      right: 40px;
      max-width: 370px;
      width: 100%;
      padding: 0; 
    }

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .password-reset-request {
    flex-direction: column;
    padding: 40px 20px 20px;

    &-left {
      display: none;
    }

    &-bottom {
      display: block;
    }
  }
}

@media only screen and (max-width: 414px) {
  .password-reset-request {
    flex-direction: column;
    padding: 40px 20px 20px;

    &-left {
      display: none;
    }

    &-bottom {
      display: block;
    }

    &-bottom-background {
      display: none;
    }

    &-bottom-image {
      right: auto;
      padding: 0 35px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .password-reset-request {
    flex-direction: column;
    padding: 40px 20px 20px;

    &-left {
      display: none;
    }

    &-bottom {
      display: none;
    }

    &-right-form {
      margin: 70px auto 0;
    }
  }
}
