.footer-container-404 {
    width: 100%;
    padding: 80px;
    background-color: #7594fb;
    color: white;
}

.top-level-404{
    width: 100%;
    padding: 80px;
    margin-bottom: 50px; 
    max-width: 1024px;
    margin: 0px auto;


}

.navbar-404 a .tudo-logo-h2{
   color: #7594fb !important;
}

.navbar-404 a:hover{
    color: #7594fb !important;
    text-decoration: none !important;
}

.top-level-404 h2{
color: #7594fb !important;
text-align: center;
}

.top-level-404 p{
color: #707070 !important;
text-align: center;
font-weight: 200;
}

.dsknmfleksnfjks{
    margin: 0 auto;
    display: block;
}

.middle-level-404{
    width: 80%;
    padding: 80px;
    background-color: #7594fb;
    margin: 0 auto;
    margin-bottom: 50px; 
}

.footer-404{
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-top: 100px ;
}

.footer-container-right-socials-404{
    margin-top: 120px;
}

@media screen and (max-width: 750px) {
    .footer-container-right-socials-404{
        margin-top: 20px;
        margin-left: 10px;
    }
  
    .kjnfcsjdlbnf{
        margin:  0 auto;
        width: auto !important;
    }
  }

  .middle-level-404{
      color: white !important;
      text-align: center;
  }

  .kjnfcsjdlbnf{
      width: 40%;
      margin:  0 auto;
  }